
    <div class="content">
        <div class="container">
            <div class="content__prew">
                <div class="__text">сделать заказ можно по телефону</div>
                <div class="__phone">
                    +375(29)145-85-55(Vel)
                </div>
            </div>
            <div class="content__inner">
                <div class="slider">
                    <div class="container">
                        <div class="slider__inner">
                            <div class="slider__view js-slider-for">
                                <div class="slider__item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                <div class="slider__item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                <div class="slider__item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                <div class="slider__item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                <div class="slider__item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                <div class="slider__item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                <div class="slider__item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                <div class="slider__item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                <div class="slider__item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                <div class="slider__item" style="background-image: url('../img/vert_logo.jpg')"></div>
                            </div>
                            <div class="slider__nav js-slider-nav">
                                <div class="slider__nav-col">
                                    <div class="slider__nav-item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                </div>
                                <div class="slider__nav-col">
                                    <div class="slider__nav-item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                </div>
                                <div class="slider__nav-col">
                                    <div class="slider__nav-item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                </div>
                                <div class="slider__nav-col">
                                    <div class="slider__nav-item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                </div>
                                <div class="slider__nav-col">
                                    <div class="slider__nav-item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                </div>
                                <div class="slider__nav-col">
                                    <div class="slider__nav-item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                </div>
                                <div class="slider__nav-col">
                                    <div class="slider__nav-item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                </div>
                                <div class="slider__nav-col">
                                    <div class="slider__nav-item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                </div>
                                <div class="slider__nav-col">
                                    <div class="slider__nav-item" style="background-image: url('../img/vert_logo.jpg')"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
