<div class="content">
    <div class="container">
        <div class="content__inner">
            <div class="maps">
                <div class="maps__minsk"><h2 class="__text black">г. Минск</h2><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2895.239228222453!2d27.61816109692152!3d53.839426688053535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd2216b4907b7%3A0xee446fb9b136ae1c!2z0YPQuy4g0JPQvtC70L7QtNC10LTQsCA1OSwg0JzQuNC90YHQug!5e1!3m2!1sru!2sby!4v1532624731587" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></iframe></div>
                <div class="maps__puhovichi"><h2 class="__text black">г.п. Свислочь</h2><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.708671023685!2d27.91457601885023!3d53.64455605498835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5d1615dba71198b2!2z0KDRi9C90L7Qug!5e1!3m2!1sru!2sby!4v1532624324148" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
            </div>
        </div>
    </div>
</div>