<footer class="footer">
    <div class="footer__bottom">
        <div class="address">г. Минск ул. Голодеда 59</div>
        <div class="time">Время работы пн-пт  09-00 : 18-00  сб 09-00 : 15-00   вс выходной</div>
    </div>
    <hr>
    <div class="footer__top">
        <div class="address">Пуховичский р-н п. Свислочь (рынок)</div>
        <div class="time">Время работы: вт-пт  09-00 : 18-00    сб 09-00 : 15-00   вс-пн  выходной</div>
    </div>


</footer>
